<div class="header">
  <h1>MY WEATHER</h1>
  <div class="input">
    <form class="example-form">
      <mat-form-field class="example-full-width" appearance="standard">
        <input type="search" matInput [(ngModel)]="inputValue" name="inputValue" placeholder="Введите название города" autocomplete="off">
        <button id="buttomSearch" (click)="getWeatherCurrent(inputValue)"></button>
      </mat-form-field>
    </form>
  </div>
</div>
<app-main-paige [inputValue]="inputValue"
                [data]="data"
                [hourluDetails]="hourluDetails"
                [longitude]="longitude"
                [latitude]="latitude"
                [timeDuration]="timeDuration"
                [isErrorShow]="isErrorShow">
</app-main-paige>




